{% extends "sources/base.html" %}
{% load js %}
{% load i18n %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}

{% block content %}

<h1>Backups for '{{object.name}}'</h1>

<table id="sources" class="tablesorter">
<thead>
    <tr>
        <th>Backup time</th>
        <th>Identifiers</th>
        <th>Contributions</th>
        <th>Contribution types</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
  {% for b in backups %}
  <tr>
    <td>{{b.backup_time}}</td>
    <td>{{b.ident_count}}</td>
    <td>{{b.contrib_count}}</td>
    <td>
      {% for ct in b.contrib_types %}
      <a href="{% url 'source_ctype_view' sname=object.name name=ct %}">{{ct}}</a>
      {% endfor %}
    </td>
    <td>
      <a href="{% url 'source_backup_download' sname=object.name backup_id=b.id %}">Download</a>
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>


{% endblock %}

