{% extends "sources/base.html" %}
{% load js %}

{% block head_resources %}
  {{block.super}}
  {% jsinclude "tables" %}
{% endblock %}

{% block head %}
{{block.super}}
<script type="text/javascript">
$(function() {
    $("table.tablesorter").tablesorter({
        textExtraction: function(node) {
            val = node.getAttribute("val");
            if (val == null)
                val = node.textContent || node.innerText;
            return val;
        },
    });
});
</script>
{% endblock %}


{% comment %}
{% block navbar %}
{{block.super}}
<li><a href="{% url 'source_update' sname=source.name %}">Configure</a></li>
{% endblock %}
{% endcomment %}

{% comment %}
{% block breadcrumbs %}{{block.super}} / <a href="{% url people %}">people</a>{% endblock %}
{% endcomment %}

{% block relatedpages %}
{% if not user.is_anonymous %}
<a href="{% url 'source_user_settings' sname=source.name %}">user settings</a>
<a href="{% url 'source_update' sname=source.name %}">configure</a>
{% endif %}
{{block.super}}
{% endblock %}

{% block content %}

<h1>Debian Contributors '{{source.name}}' data source</h1>

<div id="intro">
  <i>{{source.desc}}</i>

  {% if source.url %}
  (<a href="{{source.url}}">more info</a>)
  {% endif %}
</div>

<h2>Contribution types</h2>

<table id="ctypes" class="tablesorter">
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
</thead>
<tbody>
    {% for c in ctypes %}
    <tr>
      <td><a href="{{c.get_absolute_url}}">{{c.name}}</a></td>
      <td>{{c.desc}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h2>Contributors</h2>

<p>{{contribs.count}} known contributors:</p>

<table id="contribs" class="tablesorter">
<thead>
    <tr>
        <th>Name</th>
        <th>Since</th>
        <th>Until</th>
    </tr>
</thead>
<tbody>
    {% for c in contribs %}
    <tr>
      <td><a href="{{c.user.get_absolute_url}}">{{c.user}}</a></td>
      <td val="{{c.begin|date:"Ymd"}}">{{c.begin}}</td>
      <td val="{{c.until|date:"Ymd"}}">{{c.until}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% endblock %}
