/*
 * Add tweaks specific to your site. Try to keep this as small as possible and
 * do not override default settings unless absolutely necessary. Small changes
 * will in time accumulate and result in the sites diverging. Consistency
 * across sites is important and this includes details.
 */

@import url("debian.css");

table.personinfo th {
    /* Copied to match td, since the th is to the left of td in this table */
    border: none;
    background-image: url('Pics/greydot.png');
    background-position: bottom left;
    background-repeat: repeat-x;
    vertical-align: top;
}

/* JQuery tablesorter common layout */
table.tablesorter th {
    cursor: pointer
}
table.tablesorter th.headerSortUp {
}
table.tablesorter th.headerSortUp:after {
    content: "▲";
}
table.tablesorter th.headerSortDown {
}
table.tablesorter th.headerSortDown:after {
    content: "▼";
}

ul.horizontal {
    list-style-type: none;
}
ul.horizontal li {
    display: inline;
}

ul.menubar {
    list-style-type: none;
    margin: auto;
    margin-bottom: 1em;
}
ul.menubar li {
    display: inline;
    padding: 1em;
}
ul.menubar li a {
    text-decoration: none;
    font-weight: bold;
}

span.fpr {
    white-space: pre;
    font-family: monospace;
}

#checklist {
    float: right;
    clear: right;
    font-size: small;
    width: 33%;
}
